/.idea/inspectionProfiles/profiles_settings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/机器学习实战.iml
/.vscode/settings.json
/其他项目/.ipynb_checkpoints/手搓BP-checkpoint.ipynb
/其他项目/元胞自动机/.gitignore
/机器学习笔记/my_logs/run_2022_02_10-12_08_10/train/events.out.tfevents.1644466279.DESKTOP-9HK2K51.15368.0.v2
/机器学习笔记/my_logs/run_2022_02_10-12_08_10/train/events.out.tfevents.1644466290.DESKTOP-9HK2K51.15368.2.v2
/机器学习笔记/my_logs/run_2022_02_10-12_08_10/train/events.out.tfevents.1644466532.DESKTOP-9HK2K51.15368.4.v2
/机器学习笔记/my_logs/run_2022_02_10-12_08_10/train/events.out.tfevents.1644467038.DESKTOP-9HK2K51.15368.6.v2
/机器学习笔记/my_logs/run_2022_02_10-12_08_10/validation/events.out.tfevents.1644466279.DESKTOP-9HK2K51.15368.1.v2
/机器学习笔记/my_logs/run_2022_02_10-12_08_10/validation/events.out.tfevents.1644466290.DESKTOP-9HK2K51.15368.3.v2
/机器学习笔记/my_logs/run_2022_02_10-12_08_10/validation/events.out.tfevents.1644466533.DESKTOP-9HK2K51.15368.5.v2
/机器学习笔记/my_logs/run_2022_02_10-12_08_10/validation/events.out.tfevents.1644467038.DESKTOP-9HK2K51.15368.7.v2
/机器学习项目/深度图像网络强化学习/__pycache__/environment.cpython-310.pyc
*.pyc
data/